<container>

  <hr />
<spacer size="20"></spacer>

<row>
  <columns>
    <h3 id="community-news" class="text-center small-text-left section-heading"><a name="community-news"></a>Community News</h3>
  </columns>
</row>

<row>
  <columns>
    <p>Please visit the HCPSS website <a href="https://www.hcpss.org/community-news-and-programs/">Community News and Programs page</a> for upcoming events and programs sponsored by non-profit organizations.</p>
  </columns>
</row>

</container>

<center>
  <row class="footer">
   <columns>
     <spacer size="16"></spacer>
     <center>
       <img style="height:45px;width:45px;" src="http://s3.amazonaws.com/hcpss.web.site/images/hoco-circle-logo-flame.png" height="45" width="45" alt="">
     </center>
   <spacer size="16"></spacer>
   <center>
     <p style="font-size:20px;" class="text-center">Visit us at <a href="http://www.hcpss.org/" target="_blank" style="color:#60baff;">www.hcpss.org</a></p>
     <p style="font-size:14px;" class="text-center"><strong>10910 Clarksville Pike, Ellicott City, Maryland 21042</strong></p>
   </columns>
  </row>
   </center>
