<wrapper class="header">
  <container>
    <row class="collapse">
      <columns>
        <img width="350" src="http://www.hcpss.org/f/mrb/base/hcpssnews-email-header-blue.png" alt="Howard County Public School System News" style="text-align:left;width:350px; border:0;text-decoration:none; vertical-align:baseline;">
      </columns>
      <columns large="5">
        <p class="text-right small-text-left" style="font-size:18px;color:black;"><strong>{{date}}</strong></p>
      </columns>
    </row>
  </container>
</wrapper>
