// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #fcfcfc !important;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Fira Sans', sans-serif;
}

.container.header {
  background: #fcfcfc;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #d6d6d6;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #fcfcfc;
}
